/* ============页面初始化代码:头部============ */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }
/* ============页面初始化代码:尾部======By:HY============ */


 /* 初始化页面a标签的下划线问题 */
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {text-decoration: none;}


.submenu-wrapper{
    display: block;
    position: relative;
    width: 300px;
    padding: 15px;
    border: 1px #ccc solid;
    background-color: #ffffff;
    border-radius: 8px;
}

.submenu-wrapper input{
    width: 100%;
    padding: 6px;
    outline: none;
}

.submenu-wrapper input:focus{
    border: 2px solid skyblue;
}

.submenu-wrapper .edit-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 45px;
    border-bottom: 1px #ccc solid;
    margin-bottom: 15px;
}

.top-category .first-div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.second-div .second-chlid{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.top-category .second-div{
    padding-left: 2em;
}
.input-submenu{
    margin-left: 10px;
    
}
.edit-content input.readonly{
    border-left: 1px #ffffff solid;
    border-top: 1px #ffffff solid;
    border-right: 1px #ffffff solid;
    border-bottom: 1px #ccc solid;
}
.edit-content input.edit{
    border: 1px #ccc solid;
}

.edit-content input.edit:focus{
    border: 2px skyblue solid;
}

.edit-bar button{
    display: flex;
    width: 50px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    font-size: 12px;
    background-color: #ffffff;
    color: rgb(110, 110, 110);
    border: 1px #ccc solid;
    cursor: pointer;
    border-radius: 6px;
    outline: none;
}

.edit-bar button:focus{
    border: 2px skyblue solid;
}

.submenu-wrapper .edit-bubble{
    display: block;
    position: absolute;
    width: 50px;
    z-index: 900;
    border: #ccc 1px solid;
    border-radius: 6px;
    font-size: 11px;
    background-color: #ffffff;
}

.edit-bubble .bubble-bar {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    width: 100%;
    font-size: 14px;
    border-bottom: 1px #ccc solid;
}

.bubble-bar div{
    font-weight: 600;
    cursor: pointer;
    margin-right: 4px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
}

.edit-bubble .bubble-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px;
}
.edit-bubble .bubble-cont :first-child{
    margin-bottom: 8px;
}

.bubble-cont .bubble-button {
    cursor: pointer;
}